.create-test h2 {
  padding: 20px;
  text-align: center;
}

.create-test h2 {
  margin-bottom: 20px;
}

.test-details-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;  
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  margin: 0;
  color: #333;
}

.header .category {
  font-size: 1.2em;
  color: #666;
}


.test-info {
  margin-bottom: 20px;
}

.test-info p {
  font-size: 1.1em;
  margin: 5px 0;
}

.questions {
  margin-top: 20px;
}

.questions h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  color: #333;
}

.question {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.question p {
  margin: 5px 0;
}

.options ul {
  list-style-type: none;
  padding: 0;
}

.options li {
  padding: 5px 0;
}

/* .correct-option {
  display: flex;
  margin-top: 10px;
}

.correct-option label{
  width: 40%;
  font-size: medium;
} */

.true-false, .fill-in-the-blank {
  font-style: italic;
}

.fill-in-the-blank {
  color: #007bff;
}


/* // */






.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
}

.header .category {
  font-style: italic;
}

.test-info {
  margin-bottom: 20px;
}

.test-info p {
  margin: 5px 0;
}



.correct-option {
  font-weight: bold;
  color: green;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  padding: 20px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  font-size: 1.5em;
}

.modal-footer {
  border-top: 1px solid #ccc;
}

.modal-footer button {
  margin: 0 10px;
}

.error {
  color: red;
  font-size: 0.9em;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.option-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-item span {
  margin-right: 5px;
}

.option-input {
  width: 80%;
  padding: 5px;
  margin-right: 5px;
}

.close-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
